@import "../../lib/snooboots/less/mixins/vendor-prefixes.less";

.shadow {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.bottomShadow {
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.05);
}

.tween {
  .transition(0.2s);
}

.transform(@output) {
  -webkit-transform: @output;
      -ms-transform: @output;
       -o-transform: @output;
          transform: @output;
}

.transform-origin(@output) {
  -webkit-transform-origin: @output;
      -ms-transform-origin: @output;
       -o-transform-origin: @output;
          transform-origin: @output;
}

.linear-gradient-background(@deg, @from, @to) {
  background-color: @to;
  background-image: -webkit-linear-gradient(@deg, @from, @to);
  background-image:    -moz-linear-gradient(@deg, @from, @to);
  background-image:      -o-linear-gradient(@deg, @from, @to);
  background-image:         linear-gradient(@deg, @from, @to);
}

.icon-font(@rules) {
  [class^="icon-"] {@rules();}
  [class*=" icon-"] {@rules();}
}

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-direction(@direction) {
  -webkit-flex-direction: @direction;
          flex-direction: @direction;
}

.flex(@grow, @shrink, @minHeight) {
  -webkit-box-flex: @grow @shrink @minHeight;
  -webkit-flex: @grow @shrink @minHeight;
          flex: @grow @shrink @minHeight;
 }

.flex-wrap(@value) {
  -webkit-flex-wrap: @value;
          flex-wrap: @value;
}

.justify-content(@alignment) {
  -webkit-justify-content: @alignment;
          justify-content: @alignment;
}

.align-items(@alignment) {
  -webkit-align-items: @alignment;
          align-items: @alignment;
}

.visually-hidden {
  display: none;
}

.bold {
  font-weight: bold;
}
